<footer style="border-top:solid 1px gray ;width: 100%;" class="bg-custom py-5">
    <div class="container">
      <div class="row">
        <!-- Information Section -->
        <div class="col-md-4">
          <h5 class="footer-logo">Productify</h5>
          <p class="footer-text">Your trusted partner in shopping with ease. Explore the latest products and services in the market.</p>
          <a href="#" class="footer-text">Learn more</a>
        </div>
  
        <!-- Custom Services Section -->
        <div class="col-md-4">
          <h5 class="footer-logo">Custom Services</h5>
          <ul class="list-unstyled ">
            <li ><a class="footer-text" href="#">Product Customization</a></li>
            <li ><a class="footer-text" href="#">Personalized Recommendations</a></li>
            <li><a class="footer-text" href="#">Customer Support</a></li>
          </ul>
        </div>
  
        <!-- New Settler Section -->
        <div class="col-md-4">
          <h5 class="footer-logo">New Settler</h5>
          <ul class="list-unstyled footer-text">
            <li ><a class="footer-text" href="#">Start Here</a></li>
            <li><a class="footer-text" href="#">Guide for New Users</a></li>
            <li><a class="footer-text" href="#">FAQs</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  