<div class="productDetails">
    <div class="left__side">
        <img id="main" src="https://static-01.daraz.pk/p/37cd9cf9ea23a97b7d3097bfd9a03347.jpg_720x720.jpg_.webp"
            alt="    ">
        <div class="price__location_card">
            <h1 id="price">65,000</h1>
            <h3 id="productName">Mobile Charger</h3>
            <p id="location"><i class="fa-solid fa-location-dot"></i>Jamshed Town, Karachi</p>
        </div>
        <div class="description">
            <h1>Description</h1>
            <p id="description">Suzuki bolan 2011 model 032l269l904</p>
        </div>
    </div>
    <div class="right__side">
        <div class="profile_contact_card">
            <div class="avaar">
                <img src="../../assets/img/avatar.png" id="image" alt="">
                <div class="img">
                    <h5 id="phoneL">03456276164</h5>
                    <p id="nameL">Kashan Adnan</p>
                </div>
            </div>
            <button class="chat"><i class="fa-solid fa-comments"></i> Chat</button>
        </div>
        <div class="description">
            <h1>Description</h1>
            <p id="description2">Suzuki bolan 2011 model 032l269l904</p>
        </div>
    </div>
</div>