.adj{
    margin-left: auto;
    margin-right: auto;
}
.body{
    background-color:#F3F5F6 ;

}
.height{
    height: 180px;
    margin-top: 50px;
}
.margin{
    margin-top: 50px;
}
.colcolor{
    background-color:#FFFF ;

}
.button-container {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
    align-items: center; /* Vertically center-align if needed */
  }
  
  button{
    width: 130px;
  }
  .tex-container {
    display: flex;
    gap: 10px; /* Adjust spacing between buttons */
    align-items: center; /* Vertically center-align if needed */
  }