<div class="row body">
    <div class="col-10 adj">
        <h1>Cart</h1>
    </div>
    <div class="col-10 col-md-10 adj height colcolor">
        <div class="row">
            <div style="height: 50px; border-bottom: solid 1px silver; word-spacing: 370px;margin-bottom: 10px;" class="col-md-12">
                <p><b>Product Title Actions</b></p>
            </div>

            <div style="height: 110px; width: 110px;" class="col-3 col-md-3 ">
                <img src="../../assets/img/Gaming Chairs965.1.png" alt=""
                    style="width: 100%; height: 100%; object-fit: contain;">
            </div>

            <div style="text-align: center;" class="col-6 col-md-6 adj ">
                <p><b>Ps5 dual sense wireless controller</b></p>
            </div>
            <div style="padding-top:30px ;" class="col-3 col-md-3">
                <div class="button-container">

                    <button type="button" class="btn btn-success">Redirect</button>
                    <button type="button" class="btn btn-danger">Remove</button>

                </div>
            </div>

        </div>
    </div>
    <div class="margin">

    </div>
</div>