<div class="fresh__recomandation">
    <h1>Fresh recommendations</h1>
    <div class="cards__container" id="cards">
        <!-- <div class="card">
            <div class="img__featured">
                <img src="./images/img1.jpg" alt="">
                <p class="featured">featured</p>
            </div>
            <div class="card__content">
                <div class="card__content-gap">
                    <div class="name__heart">
                        <h4>Toyota witz</h4>
                        <i class="fa-solid fa-heart"></i>
                    </div>
                    <h2>Rs 2,850,000</h2>
                </div>
                <h5>Jamshed Quaters , Karachi </h5>
            </div>
        </div> -->
    </div>
    <div class="load__more">
        <button class="load__more-btn">Load More</button>
    </div>
</div>